:root {
    --gray-1: #f8f9fa;
    --blue-1: #007bff;
    --size-1: 0.5rem;
    --size-2: 1rem;
    --size-3: 1.5rem;
}

.panel {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 
                0 0 2px 0 rgba(0, 0, 0, 0.19);
    padding: var(--size-2);
    position: relative;
}

.panel .heading {
    margin: 0 0 var(--size-2) 0;
    font-size: var(--size-3);
    font-weight: 500;
}