:root {
    --gray-1: hsl(210, 17%, 98%);
    --blue-1: hsl(209, 100%, 38%);
    --blue-3: hsl(209, 100%, 50%);
    --red-1: hsl(358, 75%, 59%);
    --red-9: hsl(358, 75%, 97%);
    --green-9: #2b8a3e;
    --yellow-9: #e67700;
    --size-1: 0.25rem;
    --size-2: 0.5rem;
    --size-3: 0.75rem;
    --size-4: 1rem;
    --font-size-01: 0.6875rem;
    --font-size-1: 1rem;
    --radius-3: 1rem;
    --layer-important: 1000;
}

.panel {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 
                0 0 2px 0 rgba(0, 0, 0, 0.19);
    padding: var(--size-2);
    position: relative;
}

.panel .heading {
    margin: 0 0 var(--size-2) 0;
    font-size: var(--size-3);
    font-weight: 500;
}

.item > * {
    position: relative;
}

.item .validation-message {
    position: absolute;
    top: 105%;
    color: var(--red-1);
    border: 1px solid var(--red-1);
    border-radius: 2px;
    background-color: var(--red-9);
    padding: var(--size-1);
    z-index: 1;
    font-size: var(--font-size-01);
}

.invalid {
    border: 1px solid var(--red-1);
}

a[role="button"] {
    color: var(--blue-1);
    text-decoration: none;
    cursor: pointer;
}