@using System.Diagnostics.CodeAnalysis

<div class="accordion-item">
    <div class="accordion-header">
        <button type="button" @onclick="Toggle" class="accordion-button">
            <span class="accordion-title">@Header</span>
            <span class="accordion-icon">
                @if (_expanded)
                {
                    <Blazicon Svg="Lucide.ChevronDown" />
                }
                else
                {
                    <Blazicon Svg="Lucide.ChevronRight" />
                }
            </span>
        </button>
    </div>
    @if (_expanded)
    {
        <div class="accordion-content">
            @ChildContent
        </div>
    }
</div>

@code {
    [Parameter]
    public string Header { get; set; } = "";

    [Parameter]
    public bool Expanded { get; set; } = false;

    [Parameter]
    [NotNull]
    public RenderFragment? ChildContent { get; set; }

    private bool _expanded;

    protected override void OnInitialized()
    {
        _expanded = Expanded;
    }

    private void Toggle()
    {
        _expanded = !_expanded;
    }
}
