/*~~~~~~*/ /*~*/ /*~*/ /*~*/ ~ /*~*/
/*~~~~~~*/ /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~*/ /*~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~*/ /*~~~~~~~~~~~~~~~~~~~*/
/*~~*/ /*~~~~~~~*/

~~~ /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
~
    <style>
        /*~~~~*/ /**/ /*~~~~~*/ ~~ /*~~~~~~~~~~~~~~~~~~~~~~~~~~*/
        ~
            ~~ /*~~~~~*/ /**/ ~ /*~~~~~~~~~~~~*/ /**/ /*~*/ ~~~ /*~*/ ~~ ~~ ~~~
            ~~~ /*~*/ ~ /*~~~~~*/ ~ /*~~~~~~~~~*/ ~ ~ ~ /*~~~~~~~~~~*/
            /*~~~~~~~~~~~~~~~*/ /*~~~*/ ~ /*~~~~~~~~~~~~~~~~~~~*/
            /*~~~~~~~~~~~~~~~*/ /*~*/ ~ /*~~~~~~~~~~~~~~~~*/ /**/
            /**/  /*~~~~~~~*/ /*~~~~~~~~~~~~~~~~*/
            /**/  /*~~~~~~~~~*/ /*~~~~~~~~~~~~~~~~*/
            /*~~*/
        ~
    </style>
~

<CascadingValue Value="this" IsFixed="true">
    /*~~~~~~~~~~*/
</CascadingValue>

<div class="santa-grid grid-/*~~~~*/ /*~~~~~~~*/ ~ /*~~~~~*/ ~ ~~~">
    ~~~ /*~~~~~~*/ ~~ /*~~~~~~~~~~*/ ~~ ~~~ /*~*/
    ~
        <div class="toolbar">
            ~~~ /*~~~~~~~*/
            ~
                <div class="group-sort-header">
                    <Blazicon Svg="Lucide.Group" />
                    <CascadingValue Value="OrderByState">
                        <GridColumnHeader TItem="TItem" Name="/*~~~~~~~~*/" Sort="/*~~~~~~~~~~~~~~~~~~~~~~~*/" />
                        <WithInitialSort TItem="TItem" Name="/*~~~~~~~~*/" Sort="/*~~~~~~~~~~~~~~~~~~~~~~~*/" />
                    </CascadingValue>
                </div>
            ~
            <div class="toolbar-content">
                /*~~~~~~~~~~~*/
            </div>
        </div>
    ~
    <div class="santa-grid-scroll-container">
        <div class="santa-grid-content">
            <div class="header" hidden="/*~~~~~~~~~*/">
                <CascadingValue Value="OrderByState">
                    /*~~~*/
                </CascadingValue>
            </div>
            <EditForm EditContext="_editContext">
                <DataAnnotationsValidator />
                ~~~ /*~~~~~~~*/
                ~
                    /*~~~~*/ /**/ /*~*/ ~~ /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
                    ~
                        <div class="group">
                            <ExpandableRow>
                                <Title>
                                    ~~~ /*~~~~~*/ ~~ ~~~ /*~*/
                                    ~
                                        /*~~~~~~~~~~~~~~~~*/
                                    ~
                                    /**/
                                    ~
                                        /*~~~~~~*/
                                    ~
                                </Title>
                                <ChildContent>
                                    /*~~~~~~~~*/ /**/ ~~ /*~~*/
                                    ~
                                        <div class="/*~~~~~~~~~~~~~~~~~*/" @onclick="() => OnRowClick(item)">
                                            /*~~~~~~~~~~~~~~*/
                                        </div>
                                    ~
                                </ChildContent>
                            </ExpandableRow>
                        </div>
                    ~
                ~
                /**/
                ~
                    /*~~~~*/ /**/ /**/ ~~ /*~~*/
                    ~
                        <div class="/*~~~~~~~~~~~~~~~~~*/" @onclick="() => OnRowClick(item)">
                            /*~~~~~~~~~~~~~~*/
                        </div>
                    ~
                ~
            </EditForm>
        </div>
    </div>
</div>

/*~*/ ~

    /*~~~~~~~*/
    /*~~~~~*/
    /*~~*/ /*~~~~~~~~~~~~~~~*/ /*~*/ ~ /**/ /**/ ~

    /*~~~~~~~*/
    /*~~*/ /*~~~~~~~~~~~*/ /*~~*/ ~ /**/ /**/ ~

    /*~~~~~~~*/
    /*~~~~~*/
    /*~~*/ /*~~~~~~~~~~~~~~~~~~*/ /*~~~~~~~*/ ~ /**/ /**/ ~

    /*~~~~~~~*/
    /*~~*/ /*~~~~~~~~~~~*/ /*~~~~~~~~~*/ ~ /**/ /**/ ~

    /*~~~~~~~*/
    /*~~*/ /*~~~~~~~~~~~~~~~~~~~~~~*/ /*~~~~~~*/ ~ /**/ /**/ ~

    /*~~~~~~~*/
    /*~~*/ /*~~~~~~~*/ /*~~~*/ /*~~~~~~~*/ ~ /**/ /**/ ~ ~ /*~~*/ ~~ ~~~

    /*~~~~~~~*/
    /*~~*/ /*~~~~~~~~~~~~~~~~~~*/ /*~~~~~*/ /*~~~*/ ~ /**/ /**/ ~

    /*~~~~~~~*/
    /*~~*/ /**/ /*~~~~~~*/ ~ /**/ /**/ ~ ~ /*~~*/

    /*~~~~~~~*/
    /*~~*/ /*~~~~~~~~~~~*/ /*~~~~~~~~~~*/ ~ /**/ /**/ ~

    /*~~~~~~~*/
    /*~~*/ /*~~~~~~~~~~~~~~~~~~~*/ /*~~~~*/ ~ /**/ /**/ ~

    /*~~~*/ /*~~~~~~~~~~~~~~~*/ /*~~~~*/ /*~~~~~~~~*/ ~ /**/ ~ ~ /*~~*/
    /*~~~*/ /*~~~~~~~~*/ /*~~~~~~~~~*/
    /*~~~*/ /**/ /*~~~~~*/ ~~ /*~~~*/ ~~ ~~~ /*~*/
    /*~~~*/ /*~~*/ /*~~~*/ ~ /*~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /*~~~*/ /*~~*/ /*~~~~~~~~~~*/
    /*~~~~*/ /*~~~~~~~~~~~~~~~~~*/ /*~~~~~~~~~~~~~~~*/ ~ /**/ /**/ ~

    /*~~~*/ /*~~*/ /*~~~~~~~*/ ~~ /*~~~*/ ~~ /**/ ~ /*~~~~~~~~~~~~~~~~~~~~*/ ~ /*~~~~*/

    /*~~~*/ /*~~*/ /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ /*~~~~*/ /*~~~~~~~*/
    ~
        ~~ /*~~~~~~~~~~~~*/ ~~ /*~~~~~~~~~~~~*/ /*~~~~~~~~~~~~~*/
        ~
            ~~~ /*~~~~~~~~~~~~*/ ~ /*~~~~~~~~~~~~~~~~~~~*/
                /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ /*~~*/
                /*~~~~~~~~~~~~~*/ ~~ /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

            /*~~*/ /*~~~~~~~~~~~~~~~~~~*/ ~~ /*~~~~~~~~~~~~~~~~~~~~~~~~~*/
        ~
        /*~~*/ /*~~~~*/
    ~

    /*~~~*/ /*~~~~~~~~~~~~~~~~~~*/ /*~~~~~*/ /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ /*~~~~*/ /*~~~~~~~*/
    ~
        ~~~ /*~*/ ~ /*~~~~~~~~~~~~~~~~~~~~~*/
        ~~~ /**/ ~ /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ /*~~~~~~~~~~~~*/
        /*~~*/ /*~~~~~~~~~~~~~~~~~~~~~~~~~*/ /*~~~~~~~~~~~*/ /*~~~*/
    ~

    /*~~~~~~~~~~~~~~*/ /*~*/ ~~ /*~~~~~~*/ ~~ /**/ 
        ~ /*~~~~~~~*/ 
        ~ /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ ~ /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

    /*~~~*/ /*~~*/ /*~~~~~~~~~~~~~~~~*/ /*~*/
    ~
        ~~~ /*~~~*/ ~ ~~~ /*~~~~~~~~~~~*/
        /*~~~~~~~~~~~~~~~~*/
        ~~ /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
            /*~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
        ~~ /*~~~~~~~~~~~~~~~~~~~~~~~~~~*/
            /*~~~~~~~~~~~~~~~~~~~~~*/
        ~~ /*~~~~~~~~~~*/ ~~ /**/ ~~ /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ /*~~~~~~~~~~~*/
            /*~~~~~~~~~~~~~~~~~~~~*/
        /*~~*/ /*~~~~~~~~~*/ ~~ /*~~~~~*/
    ~

    /*~~~*/ /*~*/ /**/ /*~~~~~~~~~~~~*/ /*~*/
    ~
        ~~ /*~~~~~~~~~~~~~~~~~~~~~~~~~~*/
        ~
            /*~~~~~~~~~*/ ~ /*~*/
            /*~*/ /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
        ~
    ~

    /*~~~*/ /*~~~~~~~~~~~~~~*/ /*~~~~~~~*/
    ~
        ~~ /*~~~~~~~~~~~~~~~~~~~~~~~~~*/ /*~~*/ /*~~*/
        ~~~ /*~*/ ~ /*~~~~~~~~~~~~~~~~~~~~~~~~~*/
        ~~~ /*~~~~~~~~*/ ~ /*~~~~~~~~~~~~*/ ~
            /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ ~
            /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

        /*~~~*/ /**/ /*~~~*/ ~~ /*~~~~~~~~~~~~~~~~~~~~~~~~~*/
        ~
            /*~~~~~~~~*/ ~ /*~~~~~~~~~~~~~~*/ ~
                /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ ~
                /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
        ~
        /*~~*/ /*~~~~~~~~~*/
    ~


    /*~~~~~*/ /*~~~~*/ /**/ /*~~~~~~~~~~~*/
    ~
        ~~ /*~~~~~~~*/ ~~ ~~~ /*~*/
        ~
            /*~~~~~~~~~~~~~~~~~~~*/ ~~ /*~~~*/ ~~
            ~
                /*~~~~~~*/ ~ /*~~*/
                /*~~~~~~~~~~~~~~*/
            ~~
            /*~~~~~~~~~~~~~~~~~~~~*/ ~ /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ ~ /*~~~~~~~~~~~~~~~~~~*/
            /*~~~~~~~~~~~~~~~~~*/ ~ /*~~~~~~~~~~*/ ~~ ~~
            /*~~~~~~~~~~~~~~~~*/
        ~

        /*~~~~~~~~~~~~~~~~~~~~~~*/ ~ /*~~~~~*/ /*~~~*/ ~~
        ~
            /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ ~~ /*~~*/ ~~ /*~~~~~~~~~~*/
            ~~ /*~~~~~*/
                /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
            /*~~~~~~~~~~~~~~*/
        ~~

        /*~~~~~~~~~~~~~~~~~~~~~~~~~~*/ ~ /*~~~~~~~~~*/ /*~~~~~~*/ ~~
        ~
            /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ ~ /*~~~~~~*/
            /*~~~~~~~~~~~~~~*/
        ~~

        /*~~~~~~~~*/ ~ ~~~ /*~~~~~~~~~~~*/ /**/
        /*~~~~~~~~~~~~~~~~~~~~~~~*/ ~~ /*~~~~*/ /*~*/ ~~ /*~~~~~~~~~~~~~~~~~~~~~*/ /*~~~~*/ /*~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    ~

    /*~~~~~*/ /*~~~~*/ /**/ /*~~~~~~~~~~~~~*/
    ~
        ~~ /*~~~~~~~*/ ~~ ~~~ /*~*/
        ~
            /*~~~~~~~~~~~~~~~~~~~~*/ ~ /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ ~ /*~~~~~~~~~~~~~~~~~~*/
            /*~~~~~~~~~~~~~~~~~*/ ~ /*~~~~~~~~~~*/ ~~ ~~
            /*~~~~~~~~~~~~~~~~~*/ ~ ~~
            /*~~~~~~~~~~~~~~~~*/
        ~
    ~

    /*~~*/ /**/ /*~~~~~~~~~~*/
    ~
        /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
        /*~~~~~~~~~~~~~~~~~~~~~~*/ ~ ~~
        /*~~~~~~~~~~~~~~*/
    ~

~

