button {
    font-size: 16px;
    border: none;
    border-radius: 4px;
}

button:hover {
    filter: brightness(0.8);
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: var(--size-2);
}
