@using System.Linq.Expressions
@using System.Diagnostics.CodeAnalysis
@typeparam TItem

<strong class="grid-column-header">
    @if (Sort != null)
    {
        <a data-test="sort-@Name" @onclick="UpdateOrderBy">
            @Name
            @if (Active)
            {
                <span class="sort-icon">
                    @if (IsCurrentlyDescending)
                    {
                        <Blazicon Svg="Lucide.ArrowDown" />
                    }
                    else
                    {
                        <Blazicon Svg="Lucide.ArrowUp" />
                    }
                </span>
            }
        </a>
    }
    else
    {
        @Name
    }
</strong>
 
@code {

    [CascadingParameter]
    public OrderByState<TItem, dynamic> OrderByState { get; set; } = new();

    [Parameter]
    [NotNull]
    public string? Name { get; set; }

    [Parameter]
    public Expression<Func<TItem, dynamic>>? Sort { get; set; }

    [Parameter]
    public string? Align { get; set; }

    private int _columnIndex;

    private bool IsCurrentlyDescending => OrderByState.OrderBy.Any(x => x.Name == Name && x.Descending);
    private bool Active => OrderByState.OrderBy.Any(x => x.Name == Name);

    private void UpdateOrderBy()
    {
        if (Sort == null) return; // Shouldn't be possible
        var descending = Active && !OrderByState.OrderBy.First(x => x.Name == Name).Descending;
        var shouldRemove = Active && !descending;
        OrderByState.UpdateOrderBy?.Invoke(new OrderBy<TItem, dynamic>(Name, descending, Sort), shouldRemove);
    }

    protected override void OnInitialized()
    {
        _columnIndex = ++OrderByState.ColumnCounter;

        if (!string.IsNullOrEmpty(Align))
        {
            OrderByState.RegisterAlignment?.Invoke(_columnIndex, Align);
        }
    }

}
