.grid-column-header a {
    cursor: pointer;
}

.grid-column-header a:hover {
    text-decoration: underline;
}

.grid-column-header a i {
    margin-left: 4px;
}

.sort-icon svg {
    display: inline-block;
    width: 18px;
    height: 14px;
    margin-left: 2px;
}