@using Microsoft.AspNetCore.Components.Routing

<div class="nav-toggle mobile" @onclick="ToggleNav">
    @NavToggle
</div>
<div class="nav-container @(IsCollapsed ? "collapsed" : "")">
    <div class="nav-toggle" @onclick="ToggleNav">
        @NavToggle
    </div>
    <nav>
        @foreach (var item in NavigationItems)
        {
            <NavLink class="nav-item" href="@item.Href" Match="NavLinkMatch.All">
                <span class="icon">@item.Icon</span>
                <span class="text">@item.Text</span>
            </NavLink>
        }
    </nav>
</div>

@code {
    [Parameter]
    public List<NavItem> NavigationItems { get; set; } = new();

    private bool IsCollapsed { get; set; }
    
    private RenderFragment NavToggle => IsCollapsed ?
        @<Blazicon Svg="Lucide.ChevronRight" /> :
        @<Blazicon Svg="Lucide.ChevronLeft" />;

    private void ToggleNav()
    {
        IsCollapsed = !IsCollapsed;
    }

    public class NavItem
    {
        public string Text { get; set; } = "";
        public string Href { get; set; } = "";
        public RenderFragment? Icon { get; set; }
    }
}