@using Microsoft.AspNetCore.Components.Routing

<div class="nav-toggle mobile" @onclick="ToggleNav">
    @NavToggle
</div>
<div class="nav-container @(IsCollapsed ? "collapsed" : "")">
    <div class="nav-toggle" @onclick="ToggleNav">
        @NavToggle
    </div>
    <nav>
        <CascadingValue Value="this">
            @ChildContent
        </CascadingValue>
    </nav>
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private bool IsCollapsed { get; set; }

    private RenderFragment NavToggle => IsCollapsed ?
        @<Blazicon Svg="Lucide.ChevronRight" /> :
        @<Blazicon Svg="Lucide.ChevronLeft" />;

    public void ToggleNav()
    {
        IsCollapsed = !IsCollapsed;
        StateHasChanged();
    }
}
