.pager {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--size-2);
}

button {
    background-color: var(--gray-1);
    border: 1px solid var(--gray-2);
    border-radius: 4px;
    padding: var(--size-1);
    cursor: pointer;
    color: var(--blue-1);
    font-size: 24px;
}
