@using System.Diagnostics.CodeAnalysis
<div class="pager">
    <div class="page-number">
        Page @(Pagination.PageNumber + 1) of @(Pagination.NumberOfPages + 1) for <b>@Pagination.TotalItems</b> Total Items
    </div>
    @if (CanChangePageSize)
    {
        <div class="page-size">
            <label for="page-size">Page Size</label>
            <select id="page-size" value="@Pagination.PageSize" @onchange="OnPageSizeChange">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
            </select>
        </div>
    }
    <div class="page-buttons">
        <button type="button" @onclick="FirstPage">
            <Blazicon Svg="Lucide.ChevronsLeft" />
        </button>
        <button type="button" @onclick="OnPreviousPage">
            <Blazicon Svg="Lucide.ChevronLeft" />
        </button>
        <button type="button" @onclick="OnNextPage">
            <Blazicon Svg="Lucide.ChevronRight" />
        </button>
        <button type="button" @onclick="LastPage">
            <Blazicon Svg="Lucide.ChevronsRight" />
        </button>
    </div>
</div>

@code {

    [Parameter]
    [NotNull]
    public PaginationState? Pagination { get; set; }

    [Parameter]
    public bool CanChangePageSize { get; set; } = false;

    void OnPageSizeChange(ChangeEventArgs e)
    {
        if (e.Value is null) return;
        var pageSize = int.Parse(e.Value.ToString() ?? "10");
        Pagination.PageSize = pageSize;
        Pagination.NumberOfPages = Math.Max(0, (int)Math.Ceiling(Pagination.TotalItems / (decimal)Pagination.PageSize) - 1);
        Pagination.Notify();
    }

    void OnPreviousPage()
    {
        Pagination.PageNumber = Math.Max(0, Pagination.PageNumber - 1);
        Pagination.Notify();
    }

    void OnNextPage()
    {
        Pagination.PageNumber = Math.Min(Pagination.NumberOfPages, Pagination.PageNumber + 1);
        Pagination.Notify();
    }

    protected override void OnInitialized()
    {
        Pagination.OnPageChange += (state) =>
        {
            Pagination = state;
            StateHasChanged();
        };
    }

    void FirstPage()
    {
        Pagination.PageNumber = 0;
        Pagination.Notify();
    }

    void LastPage()
    {
        Pagination.PageNumber = Pagination.NumberOfPages;
        Pagination.Notify();
    }

    public record PaginationState
    {
        public int PageNumber { get; set; } = 0;
        public int PageSize { get; set; } = 10;
        public int NumberOfPages { get; set; } = 1;
        public int TotalItems { get; set; } = 0;

        public event Action<PaginationState>? OnPageChange;
        public void Notify()
        {
            OnPageChange?.Invoke(this);
        }
    }
}
