@if (IsSeparator)
{
    <div class="toolbar-separator"></div>
}
else
{
    <button class="toolbar-button" @onclick="OnClick" disabled="@Disabled" title="@TooltipText">
        @if (IsActive)
        {
            <Blazicon Svg="Lucide.Check" />
        }
        @if (Icon != null)
        {
            <Blazicon Svg="@Icon" />
        }
        @if (!string.IsNullOrEmpty(Text))
        {
            <span>@Text</span>
        }
    </button>
}

@code {
    [Parameter]
    public string? Text { get; set; }

    [Parameter]
    public string? TooltipText { get; set; }

    [Parameter]
    public SvgIcon? Icon { get; set; }

    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public bool IsSeparator { get; set; }

    [Parameter]
    public bool IsActive { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }
}
