:root {
    --gray-1: hsl(210, 17%, 98%);
    --gray-2: hsl(210, 17%, 87%);
    --blue-1: hsl(209, 100%, 38%);
    --blue-3: hsl(209, 100%, 50%);
    --blue-7: hsl(209, 100%, 90%);
    --red-1: hsl(358, 75%, 59%);
    --red-9: hsl(358, 75%, 97%);
    --green-9: #2b8a3e;
    --yellow-9: #e67700;
    --size-1: 0.25rem;
    --size-2: 0.5rem;
    --size-3: 0.75rem;
    --size-4: 1rem;
    --size-6: 1.5rem;
    --size-8: 2rem;
    --font-size-01: 0.6875rem;
    --font-size-1: 1rem;
    --font-size-2: 1.25rem;
    --font-size-3: 1.5rem;
    --radius-3: 1rem;
    --layer-important: 1000;
    --left-nav-width: 250px;
    --left-nav-collapsed-width: 64px;
    --left-nav-background: linear-gradient(180deg, rgb(0, 0, 0, .85) 60%, #3B7238 100%);
    --header-height: 64px;
}

html, body {
    margin: 0;
    padding: 0;
}

.layout {
    display: grid;
    grid-template-columns: var(--left-nav-width) 2fr;
    grid-template-areas: 
        "header header"
        "aside main"
        "footer footer";
    margin: 0;
    padding: 0;
    transition: grid-template-columns 0.3s ease;
}

.layout:has(.nav-container.collapsed) {
    grid-template-columns: var(--left-nav-collapsed-width) 2fr;
}

main {
    flex: 1;
    grid-area: main;
    overflow: auto;
    max-height: calc(100vh - var(--header-height));
}

header {
    grid-area: header;
    max-height: var(--header-height);
    box-sizing: border-box;
}

aside {
    grid-area: aside;
}

/* iPhone 16 Pro Max media query */
@media screen and (max-width: 430px) {
    .layout {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "aside"
            "main"
            "footer";
        column-gap: 0;
        row-gap: var(--size-4);
    }

    /* Override collapsed state for mobile */
    .layout:has(.nav-container.collapsed) {
        grid-template-columns: 1fr;
    }
}

.panel {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 
                0 0 2px 0 rgba(0, 0, 0, 0.19);
    padding: var(--size-2);
    position: relative;
}

.panel .heading {
    margin: 0 0 var(--size-2) 0;
    font-size: var(--font-size-2);
    font-weight: 500;
}

.item > * {
    position: relative;
}

.item .validation-message {
    position: absolute;
    top: 105%;
    color: var(--red-1);
    border: 1px solid var(--red-1);
    border-radius: 2px;
    background-color: var(--red-9);
    padding: var(--size-1);
    z-index: 1;
    font-size: var(--font-size-01);
}

.invalid {
    border: 1px solid var(--red-1);
}

a[role="button"] {
    color: var(--blue-1);
    text-decoration: none;
    cursor: pointer;
}
