.panel {
    margin-bottom: var(--size-8);
}

.appointment-item {
    font-size: 0.75rem;
    padding: 0.125rem 0.25rem;
    background-color: rgba(255, 74, 57, 0.1);
    border-radius: 2px;
    margin-bottom: 0.125rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
