@page "/DateRangeGrid"
@using Kaizen.UI
@using Kaizen.Sample.Web.Client.Samples
@using Kaizen.Sample.Web.Client.Services
@inject SampleCodeService _sampleCodeService

<PageTitle>Date Range Filtered Grid</PageTitle>

<div class="page">
    <h2>Date Range Filtered Grid</h2>
    <p>This example demonstrates how to filter grid data using a DateRangePicker. Select a date range to dynamically filter the orders displayed in the grid below.</p>

    <DateRangeGridSample />

    <CodeSample Code="@_codeSample" />
</div>

@code {
    string _codeSample = string.Empty;

    protected override void OnInitialized()
    {
        _codeSample = _sampleCodeService.GetSampleCode("DateRangeGridSample");
    }
}
