@page "/EditablePanel"
@rendermode InteractiveWebAssembly
@using Kaizen.UI
@using Kaizen.Sample.Web.Client.Samples
@using Kaizen.Sample.Web.Client.Services
@inject SampleCodeService _sampleCodeService

<PageTitle>Editable Panel</PageTitle>

<Toaster />

<div class="page-narrow">
    <h2>Editable</h2>
    <p>This example demonstrates the Editable component for creating inline-editable forms. Click the edit icon to modify the user profile information with validation, then save or delete.</p>

    <EditablePanelSample />

    <CodeSample Code="@_codeSample" />
</div>

@code {
    string _codeSample = string.Empty;

    protected override void OnInitialized()
    {
        _codeSample = _sampleCodeService.GetSampleCode("EditablePanelSample");
    }
}
