@page "/"
@rendermode InteractiveWebAssembly

<PageTitle>Home</PageTitle>

<Toaster />

<h1>Kaizen UI</h1>

<div class="panel">
    <header class="heading">
        <span>Basic Grid Example</span>
    </header>
    <FlatGrid />
</div>
<br/>
<div class="panel">
    <h3 class="heading">Grouped Work Items</h3>
    <GroupedGrid />
</div>

@code {
}