@page "/SearchableGrid"
@using Kaizen.UI
@using Kaizen.Sample.Web.Client.Samples
@using Kaizen.Sample.Web.Client.Services
@inject SampleCodeService _sampleCodeService

<PageTitle>Searchable Grids</PageTitle>

<Toaster />

<div class="page">
    <h2>Searchable Grids</h2>
    <p>This example shows how to add search functionality to grids. Use the search input to filter items by code or description in real-time.</p>

    <div class="panel">
        <SearchableGridSample />
    </div>

    <CodeSample Code="@_codeSample" />
</div>

@code {
    string _codeSample = string.Empty;

    protected override void OnInitialized()
    {
        _codeSample = _sampleCodeService.GetSampleCode("SearchableGridSample");
    }
}
