@page "/"
@rendermode InteractiveWebAssembly

<PageTitle>Counter</PageTitle>

<Toaster />

<h1>Home</h1>

<div class="panel">
    <header class="heading">
        <span>TODOs</span>
    </header>
    <ol>
        <li>Collapsible Left Nav</li>
    </ol>
</div>
<br/>
<div class="panel">
    <header class="heading">
        <span>Basic Grid Example</span>
    </header>
    <FlatGrid />
</div>
<br/>
<div class="panel">
    <h3 class="heading">Grouped Work Items</h3>
    <GroupedGrid />
</div>

@code {
}