@*
    This exists to get around .NET 8 render modes always rendering layout items as static
    https://github.com/MudBlazor/MudBlazor/issues/7763
*@
<LeftNavigationBar>
    <NavBarLink Match="NavLinkMatch.All" Class="nav-item" Href="/">
        <div class="icon">
            <Blazicon Svg="Lucide.House" />
        </div>
        <span class="text">Home</span>
    </NavBarLink>
    <NavBarLink Class="nav-item" Href="/FlatGrid">
        <div class="icon">
            <Blazicon Svg="Lucide.Table" />
        </div>
        <span class="text">Basic Grid</span>
    </NavBarLink>
    <NavBarLink Class="nav-item" Href="/EditablePanel">
        <div class="icon">
            <Blazicon Svg="Lucide.PanelTop" />
        </div>
        <span class="text">Editable</span>
    </NavBarLink>
    <NavBarLink Class="nav-item" Href="/EditableGrid">
        <div class="icon">
            <Blazicon Svg="Lucide.Pencil" />
        </div>
        <span class="text">Editable Grid</span>
    </NavBarLink>
    <NavBarLink Class="nav-item" Href="/GroupedGrid">
        <div class="icon">
            <Blazicon Svg="Lucide.Group" />
        </div>
        <span class="text">Grouped Grid</span>
    </NavBarLink>
    <NavBarLink Class="nav-item" Href="/SearchableGrid">
        <div class="icon">
            <Blazicon Svg="Lucide.Search" />
        </div>
        <span class="text">Searchable Grid</span>
    </NavBarLink>
    <NavBarLink Class="nav-item" Href="/CalendarGrid">
        <div class="icon">
            <Blazicon Svg="Lucide.Calendar" />
        </div>
        <span class="text">Calendar</span>
    </NavBarLink>
    <NavBarLink Class="nav-item" Href="/DateRangeGrid">
        <div class="icon">
            <Blazicon Svg="Lucide.CalendarRange" />
        </div>
        <span class="text">Date Range</span>
    </NavBarLink>
</LeftNavigationBar>
